/* 와이드 pc  */

.videoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#imgBG {
  position: fixed;
  /*고정=>fixed/ 스크롤처리=>absolute */
  left: 50%;
  top: 50%;
  /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
  width: auto;
  min-width: 100%;
  /*동영상 너비를 꽉차게*/
  height: auto;
  min-height: 100%;
  /*동영상 높이를 꽉차게*/
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}

#content {
  width: 100%;
  margin: 0 auto;
  background: rgba(44, 0, 62, 0.9);
  position: relative;
  padding-bottom: 100px;
}

#content > section {
  margin: 0 auto;
}

#content h2 {
  position: absolute;
  top: -500px;
  width: 100%;
  text-align: center;
  font-size: var(--font-70px);
  color: var(--main-font);
}

/* story */

#content .story {
  width: 90%;
}

#content .story .story_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: "a b";
  gap: 0 3%;
}

#content .story_container .story_content {
  overflow: hidden;
}

#content .story_content:nth-of-type(1) {
  grid-area: a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content .story_content:nth-of-type(2) {
  grid-area: b;
}

#content .story_container .story_content img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

#content .story_container .story_content h3 {
  font-size: var(--font-60px);
  margin-bottom: 25px;
}

#content .story_container .story_content p {
  font-size: var(--font-24px);
  line-height: 2rem;
}

/* huntrx */

#content .huntrx_container {
  width: 90%;
  margin: 0 auto;
  padding-top: 200px;
}

#content .huntrx_container h3 {
  font-size: var(--font-60px);
  margin-bottom: 25px;
}

#content .huntrx_container .huntrx_content_swiper img {
  width: 100%;
  border-radius: 20px;
}
#content .huntrx_container .huntrx_content_swiper dl {
  width: 100%;
  max-width: 900px;
  margin: 25px auto;
}

#content .huntrx_container .huntrx_content_swiper dt {
  font-size: var(--font-40px);
  line-height: 4rem;
  margin-bottom: 30px;
  font-weight: 800;
}

#content .huntrx_container .huntrx_content_swiper dd {
  font-size: var(--font-22px);
  line-height: 1.8rem;
}

#content .huntrx_container .huntrx_content_swiper .swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#content .huntrx_container .huntrx_content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 0.5%;
  grid-template-areas:
    "a a b"
    "a a c"
    "a a d"
    "e e e";
}

#content .huntrx_container .huntrx_content .huntrx_card:nth-child(1) {
  grid-area: a;
  align-self: start;
}
#content .huntrx_container .huntrx_content .huntrx_card:nth-child(2) {
  grid-area: b;
}
#content .huntrx_container .huntrx_content .huntrx_card:nth-child(3) {
  grid-area: c;
}
#content .huntrx_container .huntrx_content .huntrx_card:nth-child(4) {
  grid-area: d;
}
#content .huntrx_container .huntrx_content .huntrx_card:nth-child(5) {
  grid-area: e;
}

#content .huntrx_container .huntrx_content li > video,
#content .huntrx_container .huntrx_content li > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  display: block;
}

#content
  .huntrx_container
  .huntrx_content
  .huntrx_card:nth-child(1)
  .huntrx_content_swiper {
  width: 100%;
  height: 100%;
}

/*






일반 pc 







*/
@media screen and (max-width: 1280px) {
}

/* 








테블릿 







*/
@media screen and (max-width: 1150px) {
}

/* 







소형 테블릿 







*/
@media screen and (max-width: 855px) {
}

/* 







모바일 1






*/
@media screen and (max-width: 667px) {
}

/* 







모바일 2






*/
@media screen and (max-width: 565px) {
}

/* 







모바일 3






*/
@media screen and (max-width: 467px) {
}
