/* 와이드 pc  */

.videoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#imgBG {
  position: fixed;
  /*고정=>fixed/ 스크롤처리=>absolute */
  left: 50%;
  top: 50%;
  /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
  width: auto;
  min-width: 100%;
  /*동영상 너비를 꽉차게*/
  height: auto;
  min-height: 100%;
  /*동영상 높이를 꽉차게*/
  transform: translateX(-50%) translateY(-42%);
  z-index: -100;
}

#content {
  width: 100%;
  margin: 0 auto;
  background: rgba(44, 0, 62, 0.9);
  position: relative;
  padding-bottom: 100px;
}

#content>section {
  margin: 0 auto;
}

#content h2 {
  position: absolute;
  top: -500px;
  width: 100%;
  text-align: center;
  font-size: var(--font-70px);
  color: var(--main-font);
  text-shadow: 1px 1px 10px rgba(0, 174, 255, 1);
}

#content .gallery-header {
  width: 90%;
  margin: 0 auto;
}

#content .gallery-header h3 {
  width: 90%;
  padding: 100px 0 20px 0;
  font-size: var(--font-60px);
}

#content .gallery-header p {
  width: 90%;
  padding-bottom: 50px;
  font-size: var(--font-26px);
  line-height: 3rem;
}

#content .masonry {
  width: 90%;
  margin: 0 auto;
}

#content .grid-item,
#content .grid-sizer {
  width: 25%;
  height: auto;
}

#content .grid-item {
  padding: 5px 10px;
  float: left;
  box-sizing: border-box;
}

#content .grid-item img {
  border-radius: 20px;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}

#content .grid-item video {
  border-radius: 20px;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease;
}

#content .grid-item:hover img {
  filter: brightness(120%);
}

/* 


일반 pc 


*/
@media screen and (max-width: 1280px) {
  #content h2 {
    top: -450px;
    font-size: var(--font-70px);
  }

  #content .grid-item,
  #content .grid-sizer {
    width: 25%;
  }

  #content .gallery-header h3 {
    padding-top: 70px;
    font-size: var(--font-50px);
  }

  #content .gallery-header p {
    padding-bottom: 30px;
    font-size: var(--font-24px);
  }
}

/* 








테블릿 







*/
@media screen and (max-width: 1150px) {
  #content h2 {
    top: -450px;
    font-size: var(--font-60px);
  }

  #content .grid-item,
  #content .grid-sizer {
    width: 33%;
    padding: 0.3%;
  }

  #content .gallery-header h3 {
    padding: 70px 0 0 0;
    font-size: var(--font-44px);
  }

  #content .gallery-header p {
    padding-bottom: 30px;
    font-size: var(--font-18px);
    line-height: 1.5rem;
  }

  #content .grid-item:nth-child(3),
  #content .grid-item:nth-child(5),
  #content .grid-item:nth-child(8),
  #content .grid-item:nth-child(11),
  #content .grid-item:nth-child(15),
  #content .grid-item:nth-child(17),
  #content .grid-item:nth-child(14),
  #content .grid-item:nth-child(22),
  #content .grid-item:nth-child(23) {
    display: none;
  }
}

/* 







소형 테블릿 







*/
@media screen and (max-width: 855px) {
  #content h2 {
    top: -440px;
    font-size: var(--font-50px);
  }

  #content .grid-item,
  #content .grid-sizer {
    width: 49%;
    padding: 1%;
  }

  #content .gallery-header h3 {
    padding: 70px 0 10px 0;
    font-size: var(--font-36px);
  }

  #content .gallery-header p {
    padding-bottom: 30px;
    font-size: var(--font-18px);
    line-height: 1.5rem;
  }

  #content .grid-item:nth-child(12),
  #content .grid-item:nth-child(29),
  #content .grid-item:nth-child(24) {
    display: none;
  }
}

/* 







모바일 1






*/
@media screen and (max-width: 667px) {
  #content h2 {
    top: -430px;
    font-size: var(--font-44px);
  }

  #content .grid-item,
  #content .grid-sizer {
    width: 98%;
    padding: 1%;
  }

  #content .gallery-header h3 {
    padding: 70px 0 10px 0;
    font-size: var(--font-36px);
  }

  #content .gallery-header p {
    padding-bottom: 30px;
    font-size: var(--font-16px);
    line-height: 1.4rem;
  }

  #content .grid-item:nth-child(2),
  #content .grid-item:nth-child(7),
  #content .grid-item:nth-child(10),
  #content .grid-item:nth-child(18),
  #content .grid-item:nth-child(26) {
    display: none;
  }
}

/* 







모바일 2






*/
@media screen and (max-width: 565px) {
  #content h2 {
    top: -430px;
    font-size: var(--font-44px);
  }

  #content .gallery-header h3 {
    padding: 70px 0 10px 0;
    font-size: var(--font-34px);
  }

  #content .gallery-header p {
    padding-bottom: 30px;
    font-size: var(--font-18px);
    line-height: 1.4rem;
  }
}

/* 




모바일 3




*/
@media screen and (max-width: 467px) {
  #content h2 {
    top: -430px;
    font-size: var(--font-34px);
  }

  #content .gallery-header h3 {
    padding: 70px 0 15px 0;
    font-size: var(--font-30px);
  }

  #content .gallery-header p {
    padding-bottom: 30px;
    font-size: var(--font-14px);
    line-height: 1.2rem;
  }
}